$background-color: #222
$brand-primary: darkgoldenrod // goldenrod = #daa520, teal, brown, darkolivegreen, olivedrab, teal
$brand-primary-darkened: darken($brand-primary, 20%)
$brand-secondary: cadetblue // black, cadetblue, darkgoldenrod, darkslategrey, lightslategrey
$brand-secondary-darkened: darken(cadetblue, 20%)
$brand-tertiary: silver
$brand-gradient: #222
// $brand-gradient: linear-gradient(115deg, $brand-primary 20%, $brand-secondary)
// colors light: floralwhite, moccasin, navajowhite
$sidebar-width: 271px

$breakpoint-xs: 480px
$breakpoint-sm: 640px
$breakpoint-md: 900px
$breakpoint-lg: 1200px