@import 'https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'
// &text=ched.dev
@import 'https://fonts.googleapis.com/css2?family=Bitter&family=Economica&family=Raleway&display=swap'
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'

@import 'variables'
@import 'reset'
@import 'button'
@import 'main'
@import 'content'
@import 'articles'
@import 'section'
@import 'project'

.homepage-icon
  font-size: 20rem
  margin: auto 20vw
  color: $brand-tertiary
  @media (max-width: $breakpoint-md)
    font-size: 10rem
    margin: auto

.hide-breakpoint-sm
  @media (max-width: $breakpoint-sm)
    display: none